<!DOCTYPE html>
<html>
<head>
	<title>Reading Logs API's</title>
</head>
<body>
    <h1>API's for Reading Logs</h1>
    <br>
    
    <form action="/makeRequestToAPI/1" method="POST">
        Enter User ID: <input type="text" name="id">
        <button>Find Reading Time</button>
    </form>
    <br>
    <form action="/makeRequestToAPI/2" method="POST">
        Enter Book ID: <input type="text" name="id">
        <button>Find Number of Users</button>
    </form>
    <br>
    <form action="/makeRequestToAPI/3" method="POST">
        Enter Day (in dd-mm-yyyy format): <input type="text" name="day">
        <button>Find Total Reading Time</button>

    </form>
</body>
</html>